---
---

@import "{{ site.theme }}";

/* 隱藏頂部標題 */
header,
.wrapper > header {
  display: none !important;
}

/* 恢復全站明體 */
body, section, p, em, blockquote, strong, h1, h2, h3, h4, a {
  font-family: "Noto Serif TC", "Songti TC", serif !important;
  color: #333333;
}

/* 恢復版面 */
section {
  width: 100% !important;
  float: none !important;
}
